<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.bwsensing.com.device.gatewayimpl.database.ProductKindMapper">
    <resultMap type="ProductKindDO" id="ProductKindResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="ProductKindVo">
        select id, name, remark from product_kind
    </sql>

    <select id="queryProductKindBySort" parameterType="ProductKindDO" resultMap="ProductKindResult">
        <include refid="ProductKindVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="getProductKindById" parameterType="Long" resultMap="ProductKindResult">
        <include refid="ProductKindVo"/>
        where id = #{id}
    </select>

    <insert id="saveProductKind" parameterType="ProductKindDO" useGeneratedKeys="true" keyProperty="id">
        insert into product_kind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateProductKind" parameterType="ProductKindDO">
        update product_kind
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductKindById" parameterType="Long">
        delete from product_kind where id = #{id}
    </delete>

    <delete id="deleteProductKindByIds" parameterType="String">
        delete from product_kind where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>