<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.bwsensing.com.gatewayimpl.database.RoleMapper">
    <resultMap id="Role" type="RoleDO">
        <result column="id" property="id"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
        <result column="base_role_code" property="baseRoleCode"/>
        <result column="is_base_role" property="isBaseRole"/>
        <result column="role_status" property="roleStatus"/>
    </resultMap>

    <sql id="SELECT_ROLE">
         select  id,base_role_code,role_code,role_name,is_base_role,role_status from system_role
    </sql>

    <select id="getUserRoleByCode" resultMap="Role">
        <include refid="SELECT_ROLE"/>
        where role_code = #{roleCode}
    </select>

    <select id="selectAllRole" resultMap="Role">
        <include refid="SELECT_ROLE"/>
    </select>

    <select id="selectRoleBySort" parameterType="RoleDO" resultMap="Role">
        <include refid="SELECT_ROLE"/>
        <where>
            <if test="roleCode != null and roleCode != ''">and role_code like concat('%',#{roleCode},'%')</if>
            <if test="baseRoleCode != null and baseRoleCode != ''">and base_role_code like concat('%',#{baseRoleCode},'%')</if>
            <if test="roleName != null and roleName != ''">and role_name like concat('%',#{roleName},'%')</if>
        </where>
    </select>

    <insert id="saveUserRole" parameterType="RoleDO"
            keyProperty="id" useGeneratedKeys="true">
        insert into system_role(
            base_role_code,
            role_code,
            role_name,
            is_base_role,
            role_status
        ) values (
                  #{baseRoleCode},
                  #{roleCode},
                  #{roleName},
                  #{isBaseRole},
                  1
        )
    </insert>

    <update id="updateUserRole">
        UPDATE system_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="roleCode != null and roleCode != ''">
                role_code = #{roleCode},
            </if>
            <if test="baseRoleCode != null and baseRoleCode != ''">
                base_role_code = #{baseRoleCode},
            </if>
            <if test="isBaseRole != null ">
                is_base_role = #{isBaseRole},
            </if>
            <if test="roleStatus != null ">
                role_status = #{roleSatus},
            </if>
        </trim>
        where id = #{id}
    </update>

</mapper>