<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.bwsensing.com.gatewayimpl.database.SensorModelMapper">
    <resultMap id="SensorModel" type="SensorModelDO">
        <result column="id" property="id"/>
        <result column="model_name" property="modelName"/>
        <result column="model_kind" property="modelKind"/>
        <result column="picture" property="picture"/>
        <result column="comment" property="comment"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="is_effective" property="isEffective"/>
    </resultMap>

    <resultMap id="SensorModelVO" type="SensorModelDO">
        <result column="id" property="id"/>
        <result column="model_name" property="modelName"/>
        <result column="model_kind" property="modelKind"/>
        <result column="picture" property="picture"/>
        <result column="comment" property="comment"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="is_effective" property="isEffective"/>
        <collection property="prototypeList" ofType="MonitorPrototype" column="id" select="selectPrototypeById"/>
    </resultMap>

    <resultMap id="MonitorPrototype" type="MonitorPrototypeDO">
        <result property="id" column="id"/>
        <result property="typeName" column="type_name"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updater" column="updater"/>
        <result property="updateTime" column="update_time"/>
        <result property="itemShow" column="item_show"/>
        <result property="isEffective" column="is_effective"/>
        <result property="orderSort" column="order_sort"/>
    </resultMap>

    <sql id="SELECT_SENSOR_MODEL">
        select  * from sensor_model
    </sql>

    <select id="selectAllProductModels" resultMap="SensorModel" >
        select  * from sensor_model where is_effective =1
    </select>

    <select id="selectModelById" resultMap="SensorModelVO" parameterType="int">
        <include refid="SELECT_SENSOR_MODEL"/>
        where id = #{mid}
    </select>

    <select id="selectPrototypeById" resultMap="MonitorPrototype">
        select * from monitor_prototype where id in (select type_id from sensor_model_type where model_id = #{mid})
    </select>

    <select id="countModelByName" parameterType="String" resultType="Integer">
        select  count(*) from sensor_model where model_name =#{name}
    </select>


    <insert id="saveModelLink" parameterType="int">
        insert into sensor_model_type(
             model_id,
             type_id
        ) values (
              #{mid},
              #{tid}
        )
    </insert>

    <delete id="deleteLink" parameterType="int">
        delete from sensor_model_type where model_id =#{mid}
    </delete>

    <insert id="saveModel" parameterType="SensorModelDO" useGeneratedKeys="true" keyProperty="id">
        insert into sensor_model(
            model_name,
            model_kind,
            comment,
            picture,
            create_time,
            version,
            is_effective

        ) values(
            #{modelName},
            #{modelKind},
            #{comment},
            #{picture},
            now(),
            1,
            1
        )
    </insert>

    <update id="updateModel" parameterType="SensorModelDO">
        update sensor_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">
                model_name = #{modelName},
            </if>
            <if test="modelKind != null and modelKind !=''">
                model_kind=#{modelKind},
            </if>
            <if test="comment != null and comment !=''">
                comment=#{comment},
            </if>
            <if test="picture != null and picture !=''">
                picture=#{picture},
            </if>
            <if test="version != null">
                version=#{version},
            </if>
        </trim>
        where id =#{id}
    </update>

    <delete id="deleteModel">
        delete from sensor_model
        where id =#{id}
    </delete>
</mapper>