<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.bwsensing.com.system.gatewayimpl.database.SystemStructureMapper">

    <resultMap type="SystemStructureDO" id="StructureResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="ownerId" column="owner_id"/>
        <result property="allowInvitation" column="allow_invitation"/>
        <result property="invitationCode" column="invitation_code"/>
        <result property="typeId" column="type_id"/>
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="updater"    column="updater"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStructureQuery">
        select id,code, name,owner_id,allow_invitation,invitation_code,type_id, creator, create_time, updater, update_time from sys_structure
    </sql>

    <select id="selectStructureByQuery" parameterType="SystemStructureDO" resultMap="StructureResult">
        <include refid="selectStructureQuery"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="updater != null  and updater != ''"> and updater = #{updater}</if>
        </where>
    </select>

    <select id="getStructureById" parameterType="Integer" resultMap="StructureResult">
        <include refid="selectStructureQuery"/>
        where id = #{id}
    </select>

    <select id="getStructureByCode" parameterType="String" resultMap="StructureResult">
        <include refid="selectStructureQuery"/>
        where code = #{code}
    </select>

    <select id="selectStructureByUserId" parameterType="Integer" resultMap="StructureResult">
        <include refid="selectStructureQuery"/>
        where id in(SELECT organization_id from sys_user_organization where user_id = #{userId})
    </select>

    <insert id="addStructure" parameterType="SystemStructureDO" useGeneratedKeys="true" keyProperty="id">
        insert into sys_structure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="allowInvitation != null">allow_invitation,</if>
            <if test="invitationCode != null and invitationCode != ''">invitation_code,</if>
            <if test="typeId != null">type_id,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updater != null">updater,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="allowInvitation != null">#{allowInvitation},</if>
            <if test="invitationCode != null and invitationCode != ''">#{invitationCode},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updater != null">#{updater},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateStructure" parameterType="SystemStructureDO">
        update sys_structure
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="ownerId != null">owner_id ={ownerId},</if>
            <if test="allowInvitation != null">allow_invitation = #{allowInvitation},</if>
            <if test="invitationCode != null and invitationCode != ''">invitation_code = #{invitationCode},</if>
            <if test="typeId != null">type_id ={typeId},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updater != null">updater = #{updater},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from sys_structure where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete from sys_structure where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="addOrganizationMember" keyColumn="id" useGeneratedKeys="true">
        insert into sys_user_organization (organization_id,user_id)
        values (#{organizationId},#{memberId})
    </insert>
</mapper>